// colors
$colors: (
    blackLight: #555555,
    black: #3C3C3C,
    blackDark: #232323,
    whiteLight: #FDF3E7,
    white: #E4DACE,
    whiteDark: #CBC1B5,
    redLight: #E74C3C,
    red: #CE3323,
    redDark: #B51A0A,
    greenLight: #2ECC71,
    green: #15B358,
    greenDark: #009A3F
);
@function color($color) {
    @if map-has-key($colors, $color) {
        @return map-get($colors, $color);
    }
}
